body {
  font-family: monospace;
}

h1 {
  text-align: center;
}

#map, #output {
  height: 500px;
  width: 100%;
}

h3.text {
  display: none;
}

.text span {
  font-style: italic;
  color: green;
}

.show {
  display: block;
}
